<!-- --------------- DASHBOARD SECTION START --------------- -->
<section class="dashboard__section">
  <!-- NAVBAR -->
  <header class="h-16 flex items-center border-b border-slate-800 px-4">
    <nav class="flex justify-between items-center max-w-4xl w-full mx-auto">
      <p class="text-2xl font-bold">CutSession</p>
      <button class="hover:underline">Log Out</button>
    </nav>
  </header>

  <main class="max-w-4xl w-full mx-auto">
    <p class="my-4">Popular Studios Available:</p>

    <form class="studio_search my-6 flex items-center">
      <label class="w-full">
        <input
          class="border-slate-900 px-4 py-2 border-solid border-[1px] w-full h-12"
          type="text"
          placeholder="Search studios by name / city"
        />
      </label>

      <button
        class="ml-4 bg-slate-900 text-sm text-white rounded-none px-6 py-2 h-12"
      >
        Search
      </button>
    </form>

    <div class="studio__list mt-2">
      <!-- STUDIO ITEM -->
      <div class="p-6 shadow-md rounded-xl mb-8">
        <div>
          <div class="flex justify-between items-center">
            <p class="text-2xl font-medium">Kunle's Studio</p>
            <p>08139051320</p>
          </div>

          <div class="flex justify-between items-center italic text-slate-500">
            <span class="">kunlestudios@gmail.com</span>
            <span>Lagos, Nigeria</span>
          </div>

          <div class="mt-4">
            <button
              class="bg-slate-900 text-sm text-white rounded-md px-4 py-2 hover:bg-slate-800"
            >
              Book a Session
            </button>
          </div>
        </div>
      </div>
      <!-- STUDIO ITEM -->

      <!-- STUDIO ITEM -->
      <div class="p-6 shadow-md rounded-xl mb-8">
        <div>
          <div class="flex justify-between items-center">
            <p class="text-2xl font-medium">Kunle's Studio</p>
            <p>08139051320</p>
          </div>

          <div class="flex justify-between items-center italic text-slate-500">
            <span class="">kunlestudios@gmail.com</span>
            <span>Lagos, Nigeria</span>
          </div>
        </div>
      </div>
      <!-- STUDIO ITEM -->

      <!-- STUDIO ITEM -->
      <div class="p-6 shadow-md rounded-xl mb-8">
        <div>
          <div class="flex justify-between items-center">
            <p class="text-2xl font-medium">Kunle's Studio</p>
            <p>08139051320</p>
          </div>

          <div class="flex justify-between items-center italic text-slate-500">
            <span class="">kunlestudios@gmail.com</span>
            <span>Lagos, Nigeria</span>
          </div>
        </div>
      </div>
      <!-- STUDIO ITEM -->
    </div>
  </main>
</section>
<!-- --------------- DASHBOARD SECTION END --------------- -->
